<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>IT_Club | 注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="icon" type="image/x-icon" href="https://magic-jh.oss-cn-beijing.aliyuncs.com/%E6%98%9F%E7%90%83.png">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/register.css">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>
</head>
<body>
<div id="app">
    <div class="header">
        <div class="am-topbar" style="margin-bottom: 0">
            <h1 class="am-topbar-brand">
                <a href="/" class="blogTitleName"><img src="https://magic-jh.oss-cn-beijing.aliyuncs.com/%E6%98%9F%E7%90%83.png" class="imgStyle">IT_Club</a>
            </h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" style="background-color: #CCCCCC;border-color: white;border-radius: 6px" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
                <from th:action="@{/search}" method="get" class="am-form" >
                    <ul class="am-nav am-nav-pills am-topbar-nav">
                        <li><a class="top_bar" href="/" style="cursor: pointer;"><span class="am-icon-home"></span>&nbsp;首页</a></li>
                        <li><a class="top_bar" href="/categories" style="cursor: pointer;"><span class="am-icon-th"></span>&nbsp;分类</a></li>
                        <li><a class="top_bar" href="/tags" style="cursor: pointer;"><span class="am-icon-tags"></span>&nbsp;标签</a></li>
                        <li><input type="text" name="msg" class="am-form-field am-round searchBox" placeholder="请输入关键字搜索"/></li>
                        <li><button type="submit" class="am-btn am-btn-primary am-round searchBox">搜索</button></li>
                    </ul>
                </from>

                <div class="am-topbar-right" th:if="${#httpServletRequest.remoteUser}">
                    <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                        <button class="personalSpace am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle><span sec:authentication="name"></span> <span class="am-icon-caret-down"></span></button>
                        <ul class="am-dropdown-content">
                            <li><a href="/user" sec:authorize="hasRole('ROLE_USER')">个人主页</a></li>
                            <li><a href="/superadmin" sec:authorize="hasRole('ROLE_SUPERADMIN')">网站后台管理</a></li>

                            <li><a class="feedbackClick">反馈</a></li>
                            <hr style="margin: 10px 0 5px 0;">
                            <li><a th:href="@{/logout}">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
                    <a href="/register" class="am-btn am-btn-primary am-topbar-btn am-btn-sm" style="color: white">注册</a>
                </div>
                <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
                    <a href="/login" class="loginBtn am-btn am-btn-primary am-topbar-btn am-btn-sm" style="color: white">登录</a>
                </div>
                <div class="am-topbar-right writing am-hide-md-down">
                    <a  href="/editor" target="_blank" style="text-decoration: none">
                        <img class="am-circle" src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/writing.png">
                        <span class="write-word">写博客</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div id="main" style="margin-bottom: 0">
        <div class="i_love_you">
            <div class="am-g">
                <h1>IT_Club</h1>
                <p>欢迎来到西安工大IT俱乐部</p>
            </div>
            <hr />
        </div>
        <div id="register_big" class="am-g" style="height: 595px;">
            <div id="register_clear" class="am-u-lg-6 am-u-sm-9 am-u-sm-centered">
                <h3>注册</h3>
                <hr>
                <form id="registerForm" class="am-form">
                    <label for="phone" style="margin-top: 6px">手机号:</label>
                    <div  class="am-form-group am-form-icon am-form-feedback" style="margin-left: 0">
                        <input style="width: 80%" type="text" name="phone" id="phone" placeholder="请输入手机号">
                        <span id="phone_null" class="iconsNull icons am-icon-warning"></span>
                        <span id="phone_error" class="iconsError icons am-icon-times"></span>
                    </div>
                    <div id="phone_warn" class="input_warn">
                        <span>该手机号已存在！</span>
                    </div>
                    <div id="phone_warn1" class="input_warn">
                        <span>手机号不正确！</span>
                    </div>
                    <label for="auth_code" style="margin-top: 6px">验证码:</label>
                    <div  class="am-form-group am-form-icon am-form-feedback" style="margin-left: 0;">
                        <input style="width: 45%" type="text" name="phone" id="auth_code" placeholder="点击右边获取短信验证码">
                        <span id="auth_code_null" class="iconsAuthCodeNull icons am-icon-warning"></span>
                        <span id="auth_code_error" class="iconsAuthCodeError icons am-icon-times"></span>
                        <div class="getAuthCodeBtn">
                            <button type="button" id="msg_btn" class="am-btn am-btn-secondary am-round">获取验证码</button>
                        </div>
                    </div>
                    <div id="auth_code_warn" class="input_warn">
                        <span>验证码错误！</span>
                    </div>
                    <label for="username" style="margin-top: 6px;">用户名:</label>
                    <div  class="am-form-group am-form-icon am-form-feedback" style="margin-left: 0">
                        <input type="text" name="username" id="username" placeholder="请输入用户名，用户名一经注册将无法修改">
                        <span id="username_null" class="iconsNull icons am-icon-warning"></span>
                    </div>
                    <div id="username_warn" class="input_warn">
                        <span>该用户名已存在</span>
                    </div>
                    <div id="username_warn1" class="input_warn">
                        <span>用户名长度过长或格式不正确</span>
                    </div>
                    <label for="password" style="margin: 6px 30px auto auto;">密码:</label>
                    <div  class="am-form-group am-form-icon am-form-feedback" style="margin-left: 0">
                        <input type="password" name="password" id="password" placeholder="请输入密码">
                        <span id="password_null" class="iconsNull icons am-icon-warning"></span>
                    </div>
                    <div class="input_warn">
                        <span>密码错误</span>
                    </div>

                    <label style="margin: 6px 30px auto auto;">性别:</label>
                    <div class="radio_input am-form-group" style="margin: 0 0 10px auto">
                        <label class="am-radio-inline">
                            <input type="radio" name="gender" value="male" data-am-ucheck>
                           男
                        </label>
                        <label class="am-radio-inline" style="margin-left: 40px">
                            <input type="radio" name="gender" value="female" data-am-ucheck>
                            女
                        </label>
                        <div class="gender_null">
                            <span id="gender_null" class="icons">请选择性别</span>
                        </div>
                    </div>
                </form>
                <div class="am-u-lg-10 am-u-sm-12" style="margin-top: 30px">
                    <input type="submit" id="registerFormBtn" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl" style="border-radius: 5px">
                    <a href="/login" type="button" class="am-btn am-btn-default am-btn-sm am-fr" style="border-radius: 5px">
                        去登录
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer am-u-sm-centered">
            <div class="am-vertical-align" style="text-align: center">
                <hr>
                <div class="am-vertical-align-bottom">
                    <div style="color: #009688">
                        &copy; 2018-2019 IT_Club - <i class="am-icon-coffee" style="margin: 0 5px"></i>IT_Club 版权所有
                    </div>
                </div>
            </div>
        </div>
        <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
            <a id="toTop"  href="#top">
            <span title="到顶部" style="color: white">
                <i class="am-icon-arrow-up"></i>
            </span>
            </a>
        </div>
    </div>
    <!--成功消息盒-->
    <div class="notice successNoticeAlert am-animation-slide-top">
        <span class="successNotice"></span>
    </div>
    <!--失败消息盒-->
    <div class="notice dangerNoticeAlert am-animation-slide-top">
        <span class="dangerNotice"></span>
    </div>
    <div class="feedback am-animation-slide-top">
        <a class="feedbackClose am-close am-close-alt am-close-spin am-icon-times"></a>
        <div class="feedbackTitle">
            反馈
        </div>
        <div class="feedbackWord">
            您对于本博客网站有任何意见或是存在Bug的地方，欢迎进行反馈
        </div>
        <div class="feedbackForm">
            <form class="am-form">
                <fieldset class="am-form-set">
                    <textarea id="feedbackFormContent" placeholder="非常感谢您抽出时间填写问题反馈。必填"></textarea>
                    <input type="text" class="feedbackFormQQ" placeholder="方便留下QQ或是微信联系你吗。选填">
                </fieldset>
                <button type="button" class="feedbackFormBtn am-btn am-btn-primary am-btn-block">提交反馈</button>
            </form>
        </div>

    </div>
</div>

<script src="js/register.js"></script>
<script src="js/all.js"></script>
</body>
</html>